# Dependencies
node_modules/
*/node_modules/

# Build
/build
/dist
/client/build
/client/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage reports
coverage/
*/coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker volumes
docker/postgres/data/
